.menuResponsive {
  margin: 12px 0;
  .topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .textField {
    padding: 12px 0;
    width: 100%;
    max-width: 500px;
    margin: auto;
  }
}
