.appBar {
  color: var(--text-primary) !important;
  z-index: 1000;
  .endLogo {
    width: 80px;
    margin-inline-start: auto;
    display: flex;
  }
  .desktopToolbar {
    .navbar {
      display: flex;
      align-items: center;
      color: var(--text-secondary);
    }
    .endSection {
      display: flex;
      margin-inline-start: auto;
      align-items: center;
      .divider {
        height: 24px;
        margin: 0 8px;
      }
      .logoContainer {
        display: flex;
      }
    }
  }
}
.announcementHolder {
  opacity: 0;
}
.announcement {
  background-color: var(--primary-main);
  padding: 8px 0;
  .container {
    display: flex;
    align-items: center;
    .link {
      margin: 0 12px;
      // text-decoration: underline;
      display: flex;
      align-items: center;
    }
    .close {
      margin-inline-start: auto;
    }
  }
  * {
    color: var(--primary-contrastText);
  }
}

@media (max-width: 899px) {
  .appBar {
    min-height: 130px;
  }
}
