.appBar {
  color: var(--text-primary) !important;
  z-index: 1000;
  .support {
    position: fixed;
    width: 101%;
    height: 100vh;
    z-index: 1000;
    iframe {
      width: 100%;
      height: 100vh;
    }
  }
  .buttonSupport {
    padding: 2px 8px;
    border-radius: 100px;
    background-color: var(--secondary-light);
    color: var(--text-primary);
    font-weight: 600;
  }

  .endLogo {
    width: 80px;
    margin-inline-start: auto;
    display: flex;
  }
  .desktopToolbar {
    .navbar {
      display: flex;
      align-items: center;
      color: var(--text-secondary);
    }
    .endSection {
      display: flex;
      margin-inline-start: auto;
      align-items: center;
      .divider {
        height: 24px;
        margin: 0 8px;
      }
      .logoContainer {
        display: flex;
      }
    }
  }
  .linkNav {
    padding: 10px;
    margin-left: 0;
    .box {
      display: flex;
      align-items: center;
      svg {
        font-size: 24px;
      }
    }
  }
  // .headerTitle {
  //   margin-right: 14px;
  // }
}
.announcementHolder {
  opacity: 0;
}
.announcement {
  background-color: var(--primary-main);
  padding: 8px 0;
  .container {
    display: flex;
    align-items: center;
    .link {
      margin: 0 12px;
      // text-decoration: underline;
      display: flex;
      align-items: center;
    }
    .close {
      margin-inline-start: auto;
    }
  }
  * {
    color: var(--primary-contrastText);
  }
}

// @media (max-width: 899px) {
//   .appBar {
//     min-height: 130px;
//   }
// }
