.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //   background-color: lightgray;
  margin: 35px 0;
  .menu {
    padding: 0 55px;
    ul {
      list-style: none;
      display: flex;
      li {
        padding: 0 36px;
        a {
          font-weight: 600;
          white-space: nowrap;
        }
      }
    }
  }
  .textField {
    flex-grow: 1;
    margin-left: 90px;
  }
}

@media only screen and (max-width: 1200px) {
  .header {
    .menu {
      padding: 0 15px;
    }
    .textField {
      margin-left: 15px;
    }
  }
}
