.header {
  border-bottom: 1px solid var(--divider);
  .icon {
    color: var(--primary-main);
  }
  .headerTitle {
    flex: 1 1;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    min-width: 0;
    text-overflow: ellipsis;
  }
}

@media (min-width: 900px) {
  .header {
    border: none;
  }
}
