.container {
  padding-top: 60px;
  .boxVideo {
    width: 790px;
    margin: auto;
    position: relative;
    .video {
      width: 100%;
      height: 447px;
      margin: 0 auto;
      .iframe {
        width: 100%;
        height: 100%;
        border-radius: 12px;
        border: 1px solid black;
      }
    }
    .details {
      .topDetails {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 18px 0;
      }
      .title {
        font-weight: 600;
        line-height: 48px;
      }
      .text {
        line-height: 32px;
        margin-top: 18px;
      }
      .tags {
        margin-top: 12px;
        display: flex;
        flex-wrap: wrap;
        span {
          margin-left: 16px;
          margin-bottom: 10px;
          color: var(---primary-tags);
          display: inline-block;
          cursor: pointer;
        }
      }
    }
    .icon1 {
      position: absolute;
      left: -106px;
      top: -20px;
    }
    .icon2 {
      position: absolute;
      right: -200px;
      top: 350px;
    }
  }
}
.header {
  border-bottom: 1px solid var(--divider);
  .icon {
    color: var(--primary-main);
  }
  .headerTitle {
    flex: 1 1;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    min-width: 0;
    text-overflow: ellipsis;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    .boxVideo {
      width: 80%;
      .video {
        height: 333px;
      }
      .icon1 {
        display: none;
      }
    }
  }
}

@media (min-width: 900px) {
  .header {
    border: none;
  }
}

@media (max-width: 899px) {
  .container {
    padding-top: 56px;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    .boxVideo {
      padding-top: 30px;
      .video {
        height: 222px;
      }
      .icon1 {
        display: block;
        left: 0;
        top: -50px;
        width: 70px;
        height: 70px;
      }
      .icon2 {
        display: none;
      }
      .chip {
        max-width: 200px;
      }
    }
  }
}
