.summaryPosts {
  margin: 40px auto;
  .parentTitle {
    display: flex;
    justify-content: space-between;
    .title {
      margin-bottom: 33px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .chips {
      margin-top: 23px;
      .chip {
        cursor: pointer;
      }
    }
  }
  .box {
    display: flex;
    flex-wrap: wrap;
  }
  .boxCategories {
    display: flex;
    flex-wrap: wrap;
  }
}
.showMore {
  margin-bottom: 40px;
}

@media only screen and (max-width: 1200px) {
  .summaryPosts {
    .parentTitle {
      flex-direction: column;
      align-items: flex-start;
      .chips {
        padding-bottom: 25px;
        overflow: auto;
        width: 100%;
        .chip {
          &:first-child {
            margin-right: 12px;
          }
          &:last-child {
            margin-left: 12px !important;
          }
        }
      }
      &::after {
        content: "";
        width: 100%;
        height: 10px;
        position: relative;
        display: block;
        bottom: 10px;
        background-color: white;
        z-index: 2000;
      }
    }
    .box {
      justify-content: space-around;
    }
    .boxCategories {
      justify-content: space-around;
    }
  }
}
@media only screen and (max-width: 600px) {
  .summaryPosts {
    padding-left: 0;
    padding-right: 0;
    .parentTitle {
      flex-direction: column;
      .title {
        padding: 0 12px;
        img {
          height: 48px !important;
        }
      }
    }
    .box {
      flex-wrap: nowrap;
      justify-content: flex-start;
      overflow: auto;
    }
    .boxCategories {
      flex-wrap: wrap;
      justify-content: center;
      overflow: unset;
    }
    &::after {
      content: "";
      width: 100%;
      height: 10px;
      position: relative;
      display: block;
      bottom: 10px;
      background-color: white;
      z-index: 2000;
    }
  }
}
