.category {
  .box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
  }
  .header {
    border-bottom: 1px solid var(--divider);
    .icon {
      color: var(--primary-main);
    }
    .headerTitle {
      flex: 1 1;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      min-width: 0;
      text-overflow: ellipsis;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .category {
    .box {
      justify-content: space-around;
    }
  }
}

@media (min-width: 900px) {
  .header {
    border: none !important;
  }
}
